[project]
name = "datavis"
version = "1.1.0"
description = "All about data visualization"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "matplotlib",
    "pandas",
    "scikit-learn",
    "seaborn",
    "tabula-py",
]
